<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>主页</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>
	<div class="page-group">
		<div class="page page-current">



			<!-- 你的html代码 -->
			<!-- 标题 -->
			<header class="bar bar-nav">
				<h1 class="title">My O2O</h1>
			</header>
			<!-- 内容 -->
			<div class="content">
				<!-- 轮播图 -->
				<div class="swiper-container" data-space-between='10'>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img
								src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img
								src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img
								src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
								alt="">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<!-- 店铺分类 -->
				<div id="all-shop">
					<a href="/frontend/shoplist" external>全部商店</a>
				</div>
				<div id="parent-shop">
					<a href="#">
						<span>二手市场</span>
						<img alt="" src="/upload/item/shop/2/product/7/8966220180828160330.png"
						width="40" height="50">
					</a> 
					<a href="#">
						<span>美容美发</span>
						<img alt="" src="/upload/item/shop/2/product/14/5882820180829185839.jpg"
						width="40" height="50">
					</a>
				</div>
			</div>


		</div>
	</div>

	<script type='text/javascript'
		src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='/js/frontend/index.js'
		charset='utf-8'></script>
</body>
</html>